<header class="text-center text-white d-flex masthead" style="background-image: url('assets/img/background.jpg');">
    <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>Find your next stay</strong></h1>
                    <p>Search for deals on hotels, self-catering accommodations and more</p>
                    <hr>
                </div>
            </div>
            <a class="btn btn-light btn-xl" role="button" href="#services">Get Started!</a>
           
            
           
        </div>
</header>
<app-hotels></app-hotels>